[defaults]
inventory      = inventory
remote_tmp     = $HOME/.ansible/tmp
forks          = 20
host_key_checking = False
stdout_callback = debug
private_key_file = ~/.vagrant.d/insecure_private_key
fact_caching = jsonfile
fact_caching_connection = ~/.cache/facts
fact_caching_timout = 3600
retry_files_enabled = False

[colors]
debug = yellow
